name: Deploy Backend to Google Cloud
on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            set -e
            cd /var/www/peoplix-es/backend
            git pull origin main
            
            pnpm install
            npx prisma generate
            pnpm dotenv -e .env.production.direct -o -- pnpm prisma migrate deploy
            
            pm2 restart ecosystem.config.cjs --env production --only back-es
            pm2 save