name: Deploy Backend to Google Cloud
on:
  push:
    branches:
      - eu
    paths:
      - 'backend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            cd /var/www/peoplix-eu/backend
            git pull origin eu
            
            pnpm install
            npx prisma generate
            
            pm2 restart ecosystem.config.cjs --env production-eu --only back-eu
            pm2 save